// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {
  background: url($login-image);
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url($register-image);
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url($password-image);
  background-position: center;
  background-size: cover;
}

.bg-unlock-image {
  background: url($unlock-image);
  background-position: center;
  background-size: cover;
}

.bg-confirmation-image {
  background: url($confirmation-image);
  background-position: center;
  background-size: cover;
}

form.user {

  .form-group {
    margin-bottom: 1rem;
  }

  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
  }

  .custom-control-input {

    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;

  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}