// Images
$login-image: 'https://source.unsplash.com/K4mSJ7kc0As/600x800' !default;
$register-image: 'https://source.unsplash.com/Mv9hjnEUHR4/600x800' !default;
$password-image: 'https://source.unsplash.com/oWTW-jNGl9I/600x800' !default;
$unlock-image: 'https://source.unsplash.com/UAsFSsMDpa0/600x800' !default;
$confirmation-image: 'https://source.unsplash.com/TPZNooS1Meg/600x800' !default;